:root {

    --primary-color: rgb(80, 35, 20);
    --secondary-color: #cd841d;
    --accent-color: #471f1a;
    --dark-bg: #dfcacaef;
    --text-primary: #943d3d;
    --text-secondary: #000000;

    --btn-text: #ffffff;
    --btn-hover-bg: #882f2f;

}

body {
    background-color: var(--dark-bg);
}

.navbar-toggler-icon {
    filter: invert(1); /* makes black → white */
}

.nav-color {
    background-color: var(--secondary-color);
}

.navbar-brand,
.nav-link {
    color: var(--text-primary);
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--primary-color);
    transform: translateY(-6px);
}

.navbar-text,
.nav-logo {
    color: var(--primary-color);
}

.navbar-text {
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.cart {
    background-color: var(--primary-color);
    color: var(--btn-text);
    padding: 5px 20px;
}

.nav-btn {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart:hover {
    background-color: var(--btn-hover-bg);
    box-shadow: 5px 5px 15px rgba(224, 216, 136, 0.3);
}

/* product card section start */

.product-head {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--text-primary);
}

.product-description {
    text-align: center;
    text-align: center;
    color: var(--text-secondary);
}

.card-style {
    background-color: var(--secondary-color);
    color: var(--text-primary);
    text-align: center;
    border: none;
    border-radius: 0px;
    margin-right: 0;
    margin-bottom: 0;
}

.card-style img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-style .card-text {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    border: 1px solid var(--text-primary);
    border-radius: 0px;
    margin-bottom: 5px;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--btn-text);
    box-shadow: 5px 5px 15px rgba(241, 196, 15, 0.3);
}

.footer-bg {
    background-color: var(--secondary-color);
}

.cart-header {
    color: var(--text-primary);
    text-align: center;
    margin-bottom: 20px;
}

.label-head ,.extra-head , .order-head{
    color: var(--primary-color);
}

.card-title .price-end {
    float: right;
    color: var(--primary-color);
}

.form-check-label {
    color: var(--text-secondary);
    font-size: 16px;
}
.form-check-label .price-end {
    float: right;
    color: var(--primary-color);
}

.order-price,
.summary-status,
.total-price {
    color: var(--accent-color);
}

.cart-btn {
    background-color: var(--primary-color);
    color: var(--btn-text);
    padding: 5px 20px;
}
.cart-btn:hover {
    background-color: var(--btn-hover-bg);
    box-shadow: 5px 5px 15px rgba(241, 196, 15, 0.3);
}


/* otp verification */
.otp-card {
    background-color: var(--secondary-color);
    color: var(--text-primary);
    padding: 20px;
    border-radius: 8px;
}

.otp-img {
    width: 100%;
    height: 200px;
}
.otp-img img {
    width: 200px;
    height: 100%;
    border-radius: 60%;
}

.otp-title {
    color: var(--primary-color);
    text-align: center;
}
.text-label {
    color: var(--text-primary);
    text-align: center;
    margin-bottom: 40px;
    font-size: 14px;
}
.otp-inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.otp-inputs > input {
    width: 25px;
    height: 35px;
    border: 1px solid var(--text-primary);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: var(--text-primary);
    background-color: var(--secondary-color);
}

.resend {
    margin-top: 30px;
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
}

.otp-btn {
    text-align: center;
}

.otp-btn button {
    background-color: var(--primary-color);
    color: var(--btn-text);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.otp-btn button:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-text);
    box-shadow: 5px 5px 15px rgba(241, 196, 15, 0.3);
}
/* end otp verification */

/* product details */

.product .card-text {
    color: var(--primary-color);
}

.product h5 {
    color: var(--text-primary);
}